<a href="https://colab.research.google.com/github/stephanesq/Python_formation/blob/main/DataGibberish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment 1 - Decouvrir Python**

1.   Define variables for:
* Number of launches.
* Launch success rate.
* Name of the rocket.

2.  Print these variables to the console.
3. Add comments to explain your code.
4. Save your work and commit it to your GitHub repository.

In [ ]:
# nombre de lancements
nb_launches = 10
# taux de success
success_rate = 0.5
# nom
rocket_name = "Ariane 5"
# Impression
print(nb_launches)

10



---

**Exercice 2 - Découvrir panda**

Use pandas to create a DataFrame with SpaceX rocket data.

1. Perform the following:
* Print the DataFrame.
* Select and print the 'rocket' column.
* Filter the DataFrame for rockets with more than 5 launches.
* Add a new column for 'success_rate'.

In [ ]:
## chargement de panda
import pandas as pd

## création d'une df
nasa = {
    'rocket' : [
        'Falcon 1',
        'Falcon 9',
        'Falcon Heavy'
    ],
    'launches' : [5,100,3]
}
df_nasa = pd.DataFrame(nasa)

print(df_nasa)

         rocket  launches
0      Falcon 1         5
1      Falcon 9       100
2  Falcon Heavy         3
0        Falcon 1
1        Falcon 9
2    Falcon Heavy
Name: rocket, dtype: object

In [ ]:
#sélectionner la colonne rocket
print(df_nasa['rocket'])

0        Falcon 1
1        Falcon 9
2    Falcon Heavy
Name: rocket, dtype: object

In [ ]:
# filtre tir >= 5
df_nasa[df_nasa['launches'] >= 5]

     rocket  launches  success_rate
0  Falcon 1         5           0.3
1  Falcon 9       100           0.8

In [ ]:
# ajout le taux de succès
df_nasa['success_rate'] = [0.3, 0.8, 1.0]

**Assignment 3 -- API avec requests**



1. Librairie request
2. Récupérer les données
3. Transformer en DataFrame (pandas)

In [5]:
import requests as rq
import pandas as pd

In [7]:
# récupérer les données
response = rq.get('https://api.spacexdata.com/v4/launches')
data_spacex = response.json()

In [8]:
#convert to df
df_spacex = pd.DataFrame(data_spacex)
#head
df_spacex = print(df_spacex.head(5))

                                            fairings  \
0  {'reused': False, 'recovery_attempt': False, '...
1  {'reused': False, 'recovery_attempt': False, '...
2  {'reused': False, 'recovery_attempt': False, '...
3  {'reused': False, 'recovery_attempt': False, '...
4  {'reused': False, 'recovery_attempt': False, '...

                                               links  \
0  {'patch': {'small': 'https://images2.imgbox.co...
1  {'patch': {'small': 'https://images2.imgbox.co...
2  {'patch': {'small': 'https://images2.imgbox.co...
3  {'patch': {'small': 'https://images2.imgbox.co...
4  {'patch': {'small': 'https://images2.imgbox.co...

       static_fire_date_utc  static_fire_date_unix    net  window  \
0  2006-03-17T00:00:00.000Z           1.142554e+09  False     0.0
1                      None                    NaN  False     0.0
2                      None                    NaN  False     0.0
3  2008-09-20T00:00:00.000Z           1.221869e+09  False     0.0
4                      None                    NaN  False     0.0

                     rocket success  \
0  5e9d0d95eda69955f709d1eb   False
1  5e9d0d95eda69955f709d1eb   False
2  5e9d0d95eda69955f709d1eb   False
3  5e9d0d95eda69955f709d1eb    True
4  5e9d0d95eda69955f709d1eb    True

                                            failures  \
0  [{'time': 33, 'altitude': None, 'reason': 'mer...
1  [{'time': 301, 'altitude': 289, 'reason': 'har...
2  [{'time': 140, 'altitude': 35, 'reason': 'resi...
3                                                 []
4                                                 []

                                             details  ...  \
0   Engine failure at 33 seconds and loss of vehicle  ...
1  Successful first stage burn and transition to ...  ...
2  Residual stage 1 thrust led to collision betwe...  ...
3  Ratsat was carried to orbit on the first succe...  ...
4                                               None  ...

                   date_utc   date_unix                 date_local  \
0  2006-03-24T22:30:00.000Z  1143239400  2006-03-25T10:30:00+12:00
1  2007-03-21T01:10:00.000Z  1174439400  2007-03-21T13:10:00+12:00
2  2008-08-03T03:34:00.000Z  1217734440  2008-08-03T15:34:00+12:00
3  2008-09-28T23:15:00.000Z  1222643700  2008-09-28T11:15:00+12:00
4  2009-07-13T03:35:00.000Z  1247456100  2009-07-13T15:35:00+12:00

  date_precision upcoming                                              cores  \
0           hour    False  [{'core': '5e9e289df35918033d3b2623', 'flight'...
1           hour    False  [{'core': '5e9e289ef35918416a3b2624', 'flight'...
2           hour    False  [{'core': '5e9e289ef3591814873b2625', 'flight'...
3           hour    False  [{'core': '5e9e289ef3591855dc3b2626', 'flight'...
4           hour    False  [{'core': '5e9e289ef359184f103b2627', 'flight'...

  auto_update    tbd  launch_library_id                        id
0        True  False               None  5eb87cd9ffd86e000604b32a
1        True  False               None  5eb87cdaffd86e000604b32b
2        True  False               None  5eb87cdbffd86e000604b32c
3        True  False               None  5eb87cdbffd86e000604b32d
4        True  False               None  5eb87cdcffd86e000604b32e

[5 rows x 27 columns]

**Assignment 4 -- API avec pandas**

Pourquoi ? Plus rapide

1. Librairie request
2. Récupérer les données
3. Transformer en DataFrame (pandas)

In [ ]:
import pandas as pd

In [11]:
# récupérer les données
url_api = 'https://api.spacexdata.com/v4/launches'
data_spacex = pd.read_json(url_api)

#head
print(data_spacex.head(5))

                                            fairings  \
0  {'reused': False, 'recovery_attempt': False, '...
1  {'reused': False, 'recovery_attempt': False, '...
2  {'reused': False, 'recovery_attempt': False, '...
3  {'reused': False, 'recovery_attempt': False, '...
4  {'reused': False, 'recovery_attempt': False, '...

                                               links  \
0  {'patch': {'small': 'https://images2.imgbox.co...
1  {'patch': {'small': 'https://images2.imgbox.co...
2  {'patch': {'small': 'https://images2.imgbox.co...
3  {'patch': {'small': 'https://images2.imgbox.co...
4  {'patch': {'small': 'https://images2.imgbox.co...

       static_fire_date_utc  static_fire_date_unix    net  window  \
0  2006-03-17T00:00:00.000Z           1.142554e+09  False     0.0
1                      None                    NaN  False     0.0
2                      None                    NaN  False     0.0
3  2008-09-20T00:00:00.000Z           1.221869e+09  False     0.0
4                      None                    NaN  False     0.0

                     rocket  success  \
0  5e9d0d95eda69955f709d1eb      0.0
1  5e9d0d95eda69955f709d1eb      0.0
2  5e9d0d95eda69955f709d1eb      0.0
3  5e9d0d95eda69955f709d1eb      1.0
4  5e9d0d95eda69955f709d1eb      1.0

                                            failures  \
0  [{'time': 33, 'altitude': None, 'reason': 'mer...
1  [{'time': 301, 'altitude': 289, 'reason': 'har...
2  [{'time': 140, 'altitude': 35, 'reason': 'resi...
3                                                 []
4                                                 []

                                             details  ...  \
0   Engine failure at 33 seconds and loss of vehicle  ...
1  Successful first stage burn and transition to ...  ...
2  Residual stage 1 thrust led to collision betwe...  ...
3  Ratsat was carried to orbit on the first succe...  ...
4                                               None  ...

                   date_utc   date_unix                 date_local  \
0  2006-03-24T22:30:00.000Z  1143239400  2006-03-25T10:30:00+12:00
1  2007-03-21T01:10:00.000Z  1174439400  2007-03-21T13:10:00+12:00
2  2008-08-03T03:34:00.000Z  1217734440  2008-08-03T15:34:00+12:00
3  2008-09-28T23:15:00.000Z  1222643700  2008-09-28T11:15:00+12:00
4  2009-07-13T03:35:00.000Z  1247456100  2009-07-13T15:35:00+12:00

  date_precision upcoming                                              cores  \
0           hour    False  [{'core': '5e9e289df35918033d3b2623', 'flight'...
1           hour    False  [{'core': '5e9e289ef35918416a3b2624', 'flight'...
2           hour    False  [{'core': '5e9e289ef3591814873b2625', 'flight'...
3           hour    False  [{'core': '5e9e289ef3591855dc3b2626', 'flight'...
4           hour    False  [{'core': '5e9e289ef359184f103b2627', 'flight'...

  auto_update    tbd  launch_library_id                        id
0        True  False               None  5eb87cd9ffd86e000604b32a
1        True  False               None  5eb87cdaffd86e000604b32b
2        True  False               None  5eb87cdbffd86e000604b32c
3        True  False               None  5eb87cdbffd86e000604b32d
4        True  False               None  5eb87cdcffd86e000604b32e

[5 rows x 27 columns]
Index(['fairings', 'links', 'static_fire_date_utc', 'static_fire_date_unix',
       'net', 'window', 'rocket', 'success', 'failures', 'details', 'crew',
       'ships', 'capsules', 'payloads', 'launchpad', 'flight_number', 'name',
       'date_utc', 'date_unix', 'date_local', 'date_precision', 'upcoming',
       'cores', 'auto_update', 'tbd', 'launch_library_id', 'id'],
      dtype='object')

In [12]:
#head des colonnes
print(data_spacex.head().columns)

Index(['fairings', 'links', 'static_fire_date_utc', 'static_fire_date_unix',
       'net', 'window', 'rocket', 'success', 'failures', 'details', 'crew',
       'ships', 'capsules', 'payloads', 'launchpad', 'flight_number', 'name',
       'date_utc', 'date_unix', 'date_local', 'date_precision', 'upcoming',
       'cores', 'auto_update', 'tbd', 'launch_library_id', 'id'],
      dtype='object')

In [13]:
#head des types
print(data_spacex.head().dtypes)

fairings                  object
links                     object
static_fire_date_utc      object
static_fire_date_unix    float64
net                         bool
window                   float64
rocket                    object
success                  float64
failures                  object
details                   object
crew                      object
ships                     object
capsules                  object
payloads                  object
launchpad                 object
flight_number              int64
name                      object
date_utc                  object
date_unix                  int64
date_local                object
date_precision            object
upcoming                    bool
cores                     object
auto_update                 bool
tbd                         bool
launch_library_id         object
id                        object
dtype: object